.dark {
  --text-color-primary: #f0f0f0;
  --text-color-secondary: #ccc;
  --text-color-muted: #999;
  --text-color-light: #fff;
  --text-color-dark: #000;
  --text-yellow: #ffc107;
  --text-red: #ff3b4f;

  --background-color: #24292F;
  --background-color-secondary: #2e3339;
  --background-color-hover: #40454b;
  --background-color-active: #52575e;

  --border-color: #1F2428;
  --border-color-hover: #1c1d20;
}
