.light {
  --text-color-primary: #333;
  --text-color-secondary: #666;
  --text-color-muted: #999;
  --text-color-light: #fff;
  --text-color-dark: #000;
  --text-yellow: #f5c800;
  --text-red: #e12336;

  --background-color: #FFF;
  --background-color-secondary: #f8f9fa;
  --background-color-hover: #eeeff1;
  --background-color-active: #e3e3e7;

  --border-color: #F3F3F3;
  --border-color-hover: #e1e1e1;
}
